.warninglogin {
    color: red;
    text-align: center;
    font-size: 2em;

    @media (max-width: 450px) {
        font-size: 1.5em;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;

    .loginword {
        font-size: 3.5em;
    }

    .loginbutton {
        font-size: 1.5em;
        margin-top: 1.8em;
    }
}